{% extends 'main.html.twig' %}

{% block content %}
<div class="pure-u-1-3">
    <h1>Сегодня {{ 'now'|date('d.m.Y') }}</h1>

    <table class="pure-table">
        <thead>
        <tr>
            <th>#</th>
            <th>Чел</th>
            <th>Когда</th>
            <th>Верифай</th>
        </tr>
        </thead>
        <tbody>
        {% for key, chix in chixi %}
            {% if key is odd %}
                <tr class="pure-table-odd">
            {% else %}
                <tr>
            {% endif %}

            <td><a href="{{ path('chix_app_chix_view', {chixId: chix.id}) }}">{{ key + 1 }}</a></td>
            <td>
                <div style="align-items: center; display: flex;">
                    <img src="{{ chix.user.avatar }}" width="25px" height="25px" style="padding: 4px"/>
                    <div>{{ chix.user.name }}</div>
                </div>
            </td>
            <td>{{ chix.createdAt|date('H:i:s') }}</td>
            <td><i class="fas fa-lg {{ chix.isVerified ? 'fa-check-circle color-green' : 'fa-times-circle color-red' }}"></i></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_USER') %}
        <h1>Апрувы</h1>

        <table class="pure-table">
            <thead>
            <tr>
                <th>#</th>
                <th>Чел</th>
                <th>Дата</th>
            </tr>
            </thead>
            <tbody>
            {% for key, approve in approves %}
                {% if key is odd %}
                    <tr class="pure-table-odd">
                {% else %}
                    <tr>
                {% endif %}

                <td>{{ key + 1 }}</td>
                <td>
                    <div style="align-items: center; display: flex;">
                        <img src="{{ approve.user.avatar }}" width="25px" height="25px" style="padding: 4px"/>
                        <div>{{ approve.user.name }}</div>
                    </div>
                </td>
                <td>{{ approve.getCreatedAt|date('Y-m-d H:i:s') }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
<div class="pure-u-1-3">
    <div style="padding: 0 20px 0 20px;">
        <h1>Борда чихов</h1>

        {% for board in weekBoard|reverse %}
            {{ include('index/board.html.twig') }}
        {% endfor %}
    </div>
</div>
<div class="pure-u-1-3">
    <p>Помните! Нам важен каждый чих!</p>
    <h1> ✅ Прожать кнопку </h1>

    {% if is_granted('ROLE_USER') %}
    <p>Если вы чихнули, то, пожалуйста, зафиксируте время и факт произошедшенго.</p>
    <p>Будьте внимательны! Если чихнул Ваш коллега, то не забудьте напомнить ему о акте фиксации.</p>
    <a class="pure-button my-button"
       href="{{ path('chix_app_chix_add') }}"
       onclick="return confirm('Прямой сейчас будет зафиксирован чих!!')"
    >
        <i class="fas fa-pills fa-lg"></i>
        Зафиксировать себя!
    </a>

    <p>Если заметили подозрительную активность, то проявите социальную ответственность.</p>
    <a class="pure-button my-button" href="#" >
        <i class="far fa-grimace fa-lg"></i>
        Зарепортить о нарушении!
    </a>
    {% else %}
        <p>Залогиньтесь чтоб делать годноту.</p>
    {% endif %}

</div>
{% endblock %}